<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Socket IO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="../public/css/estilo.css" rel="stylesheet"/>
    <link href="../public/css/chat.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4 pr-0">
            <div class="card border-right-0">
                <div class="card-header">
                    <div class="navbar navbar-expand p-0">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <div>Salas</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="list-group list-group-flush align-items-center max-size-chat" id="listaSalas"></div>
                </div>
                <div class="card-footer p-1">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="inputUsuario" name="inputUsuario"
                                   placeholder="Usuário" aria-label="Usuário">
                        </div>
                        <div class="col-auto align-self-center">
                            <button type="button" id="btnEntrar" class="btn btn-primary">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col pl-0">
            <div class="card">
                <div class="card-header">
                    <div class="navbar navbar-expand p-0">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <div id="salaConectada"><i class="fas fa-globe-americas fa-lg text-danger"></i></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="chat-container">
                        <ul class="chat-box max-size-chat p-4" id="todasMensagens">
                        </ul>
                    </div>
                </div>
                <div class="card-footer p-1">
                    <div class="row text-center">
                        <div class="col pr-0">
                            <input id="inputMensagem" type="text" class="form-control" placeholder="Mensagem"
                                   aria-label="Mensagem">
                        </div>
                        <div class="col-auto align-self-center">
                            <button type="button" class="btn btn-primary" id="btnMensagem">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../public/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/eed93c653a.js" crossorigin="anonymous"></script>
<script src="../public/js/socket.io.js"></script>
<script src="../public/js/chat.js"></script>
</body>
</html>