@-webkit-keyframes shake-animation {
    0%,
    20%,
    40%,
    60%,
    80%,
    100%
    { -webkit-transform: translate3d(-5px, 0, 0); }
    10%,
    30%,
    50%,
    70%,
    90%
    { -webkit-transform: translate3d(5px, 0, 0); }
}

.shake {
    -webkit-animation-name: shake-animation;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 1;
}